<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134064332503-7659jdahi2i7p8mcfvmdjfm6a41ov24b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134064332503-7659jdahi2i7p8mcfvmdjfm6a41ov24b</string>
	<key>API_KEY</key>
	<string>AIzaSyDETnkYf0lwWqk0NvE2SHYNV-VUN80TEW4</string>
	<key>GCM_SENDER_ID</key>
	<string>134064332503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MBTech.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-ace7c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-ace7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134064332503:ios:ea2fc3a60c6280c3689a92</string>
	<key>DATABASE_URL</key>
	<string>https://todo-app-ace7c.firebaseio.com</string>
</dict>
</plist>